<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bankapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".BankApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BankApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".presentation.bank.GenerateTransferByQR"
            android:exported="true" />
        <activity
            android:name=".presentation.bank.TransferToNoEnrolledAccount"
            android:exported="true" />
        <activity
            android:name=".presentation.bank.TransferTo"
            android:exported="true" />
        <activity
            android:name=".presentation.bank.EnrolledAccountsAccountActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.bank.EnrollAccountActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.bank.HomeActivity"
            android:exported="true"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".presentation.session.SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.session.SignInActivity"
            android:exported="true" />
    </application>

</manifest>